<nav class="menuppal">

    <br>
    <center><span class="text nav-text"><img style="margin-left:33px;width:200px" class="imagenLogo"src="../../views/_public/img/Logo_electrobike.svg"></span></center>
    <br>

    <div class="menu-bar">
        <div class="acordeon">

            <nav>
                <ul>

                    <!----------------------- Inicio --------------------->

                    <a class="hipervinculo" href="../dashboard/index.php">
                        <li id="i" class="inicio module">
                            <div class="sub_model">
                                <i id="icon_men" class='bx bx-home icon'></i>
                                <spam class="texto">Inicio</spam>
                            </div>
                        </li>
                    </a>
                    <!----------------------- Roles --------------------->

                    <li  moduloM="roles" class="roles module" id="activador_1">
                        <div class="model">
                            <i id="icon_men" class='bx bxs-user-account icon'></i>
                            <spam class="texto">Roles</spam>
                        </div>
                        <i class='bx bx-chevron-right icon flecha'></i>

                    </li>

                    <div class="model_ oculto_" id="modulo_1">

                        <a class="hipervinculo" href="../roles/registrar.php">
                            <li id="registrar_roles_" class="module_">
                                <div class="sub_model">
                                    <i id="subicon_men" class='bx bx-book-add icon'></i>
                                    <spam class="texto">Registrar</spam>
                                </div>
                            </li>
                        </a>

                        <a class="hipervinculo" href="../roles/listar.php">
                            <li id="listar_roles_" class="module_">
                                <div class="sub_model">
                                    <i id="subicon_men" class='bx bx-list-ul icon'></i>
                                    <spam class="texto">Listar</spam>
                                </div>
                            </li>
                        </a>
                    </div>


                    <!----------------------- Usuarios --------------------->

                    <li moduloM="usuarios" class="usuarios module" id="activador_2">
                        <div class="model">
                            <i id="icon_men" class='bx bx-user icon'></i>
                            <spam class="texto">Usuarios</spam>
                        </div>
                        <i class='bx bx-chevron-right icon'></i>

                    </li>

                    <div class="model_ oculto_" id="modulo_2">

                        <a class="hipervinculo" href="../usuarios/registrar.php">
                            <li id="registrar_usuarios_" class="module_">
                                <div class="sub_model">
                                    <i id="subicon_men" class='bx bx-book-add icon'></i>
                                    <spam class="texto">Registrar</spam>
                                </div>
                            </li>
                        </a>

                        <a class="hipervinculo" href="../usuarios/listar.php">
                            <li id="listar_usuarios_" class="module_">
                                <div class="sub_model">
                                    <i id="subicon_men" class='bx bx-list-ul icon'></i>
                                    <spam class="texto">Listar</spam>
                                </div>
                            </li>
                        </a>
                    </div>

                    <!----------------------- Proveedores --------------------->

                    <li moduloM="proveedores" class="proveedores module" id="activador_3">
                        <div class="model">
                            <i id="icon_men" class='bx bx-package icon'></i>
                            <spam class="texto">Proveedores</spam>
                        </div>
                        <i class='bx bx-chevron-right icon'></i>

                    </li>

                    <div class="model_ oculto_" id="modulo_3">

                        <a class="hipervinculo" href="../proveedores/registrar.php">
                            <li id="registrar_proveedores_" class="module_">
                                <div class="sub_model">
                                    <i id="subicon_men" class='bx bx-book-add icon'></i>
                                    <spam class="texto">Registrar</spam>
                                </div>
                        </a>

                        <a class="hipervinculo" href="../proveedores/listar.php">
                            <li id="listar_proveedores_" class="module_">
                                <div class="sub_model">
                                    <i id="subicon_men" class='bx bx-list-ul icon'></i>
                                    <spam class="texto">Listar</spam>
                                </div>
                            </li>
                        </a>
                    </div>



                    <!----------------------- Compras --------------------->

                    <li moduloM="compras" class="compras module" id="activador_4">
                        <div class="model">
                            <i id="icon_men" class='bx bx-cart icon'></i>
                            <spam class="texto">Compras</spam>
                        </div>
                        <i class='bx bx-chevron-right icon'></i>

                    </li>

                    <div class="model_ oculto_" id="modulo_4">

                        <a class="hipervinculo" href="../compras/registrar.php">
                            <li id="registrar_compras_" class="module_">
                                <div class="sub_model">
                                    <i id="subicon_men" class='bx bx-book-add icon'></i>
                                    <spam class="texto">Registrar</spam>
                                </div>
                            </li>
                        </a>

                        <a class="hipervinculo" href="../compras/listar.php">
                            <li id="listar_compras_" class="module_">
                                <div class="sub_model">
                                    <i id="subicon_men" class='bx bx-list-ul icon'></i>
                                    <spam class="texto">Listar</spam>
                                </div>
                            </li>
                        </a>
                    </div>


                    <!----------------------- Productos --------------------->

                    <li moduloM="productos" class="productos module" id="activador_5">
                        <div class="model">
                            <i id="icon_men" class='bx bx-cycling icon'></i>
                            <spam class="texto">Productos</spam>
                        </div>
                        <i class='bx bx-chevron-right icon'></i>

                    </li>

                    <div class="modelProductos_ oculto_" id="modulo_5">

                        <a class="hipervinculo" href="../productos/registrar.php">
                            <li id="registrar_productos_" class="module_">
                                <div class="sub_model">
                                    <i id="subicon_men" class='bx bx-book-add icon'></i>
                                    <spam class="texto">Registrar</spam>
                                </div>
                            </li>
                        </a>


                        <a class="hipervinculo" href="../productos/listar.php">
                            <li id="listar_productos_" class="module_">
                                <div class="sub_model">
                                    <i id="subicon_men" class='bx bx-list-ul icon'></i>
                                    <spam class="texto">Listar</spam>
                                </div>
                            </li>
                        </a>

                        <a class="hipervinculo" href="../productos/categorias.php">
                            <li id="categorias_productos_" class="module_">
                                <div class="sub_model">
                                    <i id="categorias_productos_icon" class='bx bx-book-open icon'></i>
                                    <spam class="texto">Categorias</spam>
                                </div>
                            </li>
                        </a>>



                    </div>

                    <!----------------------- Clientes --------------------->

                    <li moduloM="clientes" class="clientes module" id="activador_6">
                        <div class="model">
                            <i id="icon_men" class='bx bx-group icon'></i>
                            <spam class="texto">Clientes</spam>
                        </div>
                        <i class='bx bx-chevron-right icon'></i>

                    </li>

                    <div class="model_ oculto_" id="modulo_6">

                        <a class="hipervinculo" href="../clientes/registrar.php">
                            <li id="registrar_clientes_" class="module_">
                                <div class="sub_model">
                                    <i id="subicon_men" class='bx bx-book-add icon'></i>
                                    <spam class="texto">Registrar</spam>
                                </div>
                            </li>
                        </a>

                        <a class="hipervinculo" href="../clientes/listar.php">
                            <li id="listar_clientes_" class="module_">
                                <div class="sub_model">
                                    <i id="subicon_men" class='bx bx-list-ul icon'></i>
                                    <spam class="texto">Listar</spam>
                                </div>
                            </li>
                        </a>
                    </div>

                    <!----------------------- Ventas --------------------->

                    <li moduloM="ventas" class="ventas module" id="activador_7">
                        <div class="model">
                            <i id="icon_men" class='bx bx-coin icon'></i>
                            <spam class="texto">Ventas</spam>
                        </div>
                        <i class='bx bx-chevron-right icon'></i>

                    </li>

                    <div class="modelProductos_ oculto_" id="modulo_7">

                        <a class="hipervinculo" href="../ventas/registrar.php">
                            <li id="registrar_ventas_" class="module_">
                                <div class="sub_model">
                                    <i id="subicon_men" class='bx bx-book-add icon'></i>
                                    <spam class="texto">Registrar</spam>
                                </div>
                            </li>
                        </a>

                        <a class="hipervinculo" href="../ventas/listar.php">
                            <li id="listar_ventas_" class="module_">
                                <div class="sub_model">
                                    <i id="subicon_men" class='bx bx-list-ul icon'></i>
                                    <spam class="texto">Listar</spam>
                                </div>
                            </li>
                        </a>

                        <a class="hipervinculo" href="../ventas/garantias.php">
                            <li id="garantias_ventas_" class="module_">
                                <div class="sub_model">
                                    <i id="subicon_men" class='bx bx-clipboard icon'></i>
                                    <spam class="texto">Garantias</spam>
                                </div>
                            </li>
                        </a>
                    </div>

                    <br><br>


                    <!----------------------- Cerrar sesión --------------------->

                    <li class="module" id="btnCerrarSesion_">
                        <div class="model">
                            <i id="icon_men" class='bx bx-log-out icon'></i>
                            <spam class="texto">Cerrar sesion</spam>
                        </div>

                    </li>

                    <!----------------------- Configuracion --------------------->


                    <a class="hipervinculo" href="../usuarios/configuracion.php">
                        <li id="" class="module">
                            <div class="model">
                                <i id="subicon_men" class='bx bx-cog icon'></i>
                                <spam class="texto">Configuracion</spam>
                            </div>
                        </li>
                    </a>


                    <!----------------------- Soporte --------------------->
                    <li class="module soporte" id="">
                        <div class="model">
                            <i class='bx bx-help-circle icon'></i>
                            <spam class="texto">Soporte</spam>
                        </div>

                    </li>







                </ul>


            </nav>


        </div>
    </div>


</nav>